.table-container2 {
  width: 100% !important;
  /* overflow-x: auto; */
}

.tablediv {
  width: 100% !important;
  padding:0
}

.tablediv table {
  width: 100% !important;
  border-collapse: collapse;
  margin: 0;
}

.tablediv th,
.tablediv td {
  text-align: center;
  border: 1px solid black !important;/* wrap long text */
  font-size: 10px;
}
/* Alternate row colors (striped effect) */
.tablediv tbody tr:nth-child(odd) {
   background-color: white;
}

.tablediv tbody tr:nth-child(even) {
   background-color: #f5fcf9; 
}
