/* React-Select search input focus fix */
.blue-selectbooking__input input:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* React-Select control (main box) focus fix */
.blue-selectbooking__control--is-focused {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0aa5a5 !important; /* change as per design */
}
