/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Make react-datepicker input same as bootstrap .form-control */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 100%;
}

.react-datepicker__input-container input {
  height: calc(1.5em + .75rem + 2px); /* same as Bootstrap input */
  line-height: 1.5;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  width: 100%;
}
html, body {
  height: 100vh;
}

